.card {
  display: flex;
  padding: 20px;
  border-radius: 10px;    
  height: 350px;
  font-family: Arial, sans-serif;
  width: 400px;
  text-align: center;
  align-items: center;
  margin-top: 40px; 
}

div.card.form-group {
  background-color: beige;}

.card-container {
  gap: 20px; 
  justify-content: center; 
}

.card img {
  object-fit: contain;
  width: 5cm;
  height: 3cm;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

.card h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #333333;
}

.card p {
  margin: 10px 0;
  font-size: 14px;
  color: #666666;
  line-height: 1.5;
}

#search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  
}
#search-search {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; 
  color: #fff; 
  cursor: pointer;
  float: right;
  margin-left: 15px;
}

#search-search:hover {
  background-color: #0056b3; /* Adjust the hover background color as needed */
}





  
